In [ ]:
import random
def createAccount():
    accountNum = ""
    j = str(random.randint(0,9))
    accounNum = accountNum + j
details = []
name = input("Enter name : ")
age = input("Enter Age : ")
aadhar = input("Enter Aadhar no. : ")
phno = input("Enter mobile no.: ")
acctype = input("Enter account type: Savings or Current ?")
details.update({"name" : name, "age": age, "aadhar": aadhar, "phone number": phno, "account type": accType})
customers.update({accountNum:details})


createAccount()

In [ ]:
x=133.1
y=11
num1 = x+y
num2 = x-y
num3 = x*y 
num4 = x/y 
num5 = x//y 
print(num1)
print(num2)
print(num3)
print(num4)
print(num5)

# Write a Python program that uses a while loop to print the numbers from 1 to 10.

In [1]:
i=1
while i in range(1,11,1):
    print(i)

NameError: name 'i' is not defined

In [3]:
import pandas as pd

In [12]:
prgrm= {
    'Artist':['Vidya Dengle','Kaushiki Chakraborty','Anushka Shankar'],
    'Instument/Vocal':['Violin','Vocal','Sitar'],
    'Raga':['Ahir Bhairav','Madhuvanti','Kafi']
}

In [13]:
df=pd.DataFrame(prgrm)

In [15]:
df

                 Artist Instument/Vocal          Raga
0          Vidya Dengle          Violin  Ahir Bhairav
1  Kaushiki Chakraborty           Vocal    Madhuvanti
2       Anushka Shankar           Sitar          Kafi

In [16]:
df.head()

                 Artist Instument/Vocal          Raga
0          Vidya Dengle          Violin  Ahir Bhairav
1  Kaushiki Chakraborty           Vocal    Madhuvanti
2       Anushka Shankar           Sitar          Kafi

In [17]:
df.tail(2)

                 Artist Instument/Vocal        Raga
1  Kaushiki Chakraborty           Vocal  Madhuvanti
2       Anushka Shankar           Sitar        Kafi

In [19]:
df.columns

Index(['Artist', 'Instument/Vocal', 'Raga'], dtype='object')

In [21]:
df.describe()

              Artist Instument/Vocal          Raga
count              3               3             3
unique             3               3             3
top     Vidya Dengle          Violin  Ahir Bhairav
freq               1               1             1

In [19]:
class petStore:

    def __init__(self,animal,name,age,price):
       self.animal=animal
       self.name=name
       self.age=age
       self.price= price

      
    def printInfo(self):
        print("Welcome to our pet shop/nPlease select a pet")
        print("*"*40)
        print(self.animal)
        print(self.name)
        print(self.age)
        print(self.price)
    
animal = ['1.Dog','2.Cat','3.Rat','4.Squirrel','5.Fish','6.Bird']
name = ['Brando','Casper','Monu','Chinu','Neo','Birdie']
age = ['10 months','1 year','12 days','1 year','N/A','N/A']
price = ['5000','400','200','450','1000','500']

your_pet=petStore(animal,name,age,price)
your_pet.printInfo()


print('Please select a pet of your choice:')
choice=input("Please Enter your choice: ")

print('Please select a pet of your choice:')
choice= int(input())


if choice==animal[i]:
    print(animal[i])
    print(name[i])
    print(age[i])
    print(price[i])

Welcome to our pet shop/nPlease select a pet
****************************************
['1.Dog', '2.Cat', '3.Rat', '4.Squirrel', '5.Fish', '6.Bird']
['Brando', 'Casper', 'Monu', 'Chinu', 'Neo', 'Birdie']
['10 months', '1 year', '12 days', '1 year', 'N/A', 'N/A']
['5000', '400', '200', '450', '1000', '500']
Please select a pet of your choice:
Please select a pet of your choice:

In [8]:
class PetStore:

    def __init__(self, animal, name, age, price):
        self.animal = animal
        self.name = name
        self.age = age
        self.price = price

    def printInfo(self):
        print("Welcome to our pet shop")
        print("Please select a pet")
        print("*" * 40)
        for i in range(len(self.animal)):
            print(f"{i + 1}. {self.animal[i]}")
    
animal_list = ['Dog', 'Cat', 'Rat', 'Squirrel', 'Fish', 'Bird']
name_list = ['Brando', 'Casper', 'Monu', 'Chinu', 'Neo', 'Birdie']
age_list = ['10 months', '1 year', '12 days', '1 year', 'N/A', 'N/A']
price_list = [5000, 400, 200, 450, 1000, 500]

print('Please select a pet of your choice:')
for i in range(len(animal_list)):
    print(f"{i + 1}. {animal_list[i]}")

choice = int(input()) - 1  # Subtract 1 to match the list index

if 0 <= choice < len(animal_list):
    your_pet = PetStore(animal_list[choice], name_list[choice], age_list[choice], price_list[choice])
    your_pet.printInfo()
else:
    print("Invalid choice. Please select a valid pet.")

Please select a pet of your choice:
1. Dog
2. Cat
3. Rat
4. Squirrel
5. Fish
6. Bird
Welcome to our pet shop
Please select a pet
****************************************
1. F
2. i
3. s
4. h

In [20]:
class PetStore:

    def __init__(self, animal, name, age, price):
        self.animal = animal
        self.name = name
        self.age = age
        self.price = price

    def printInfo(self):
        print("Welcome to our pet shop")
        print("Please select a pet")
        print("*" * 40)
        for i in range(len(self.animal)):
            print(f"{self.animal[i]}. {self.name[i]} ({self.age[i]}) - Price: ${self.price[i]}")

animal = ['Dog', 'Cat', 'Rat', 'Squirrel', 'Fish', 'Bird']
name = ['Brando', 'Casper', 'Monu', 'Chinu', 'Neo', 'Birdie']
age = ['10 months', '1 year', '12 days', '1 year', 'N/A', 'N/A']
price = [5000, 400, 200, 450, 1000, 500]

your_pet = PetStore(animal, name, age, price)
your_pet.printInfo()

print('Please select a pet of your choice:')
choice = input("Please Enter your choice: ")

if choice.isdigit():
    choice = int(choice)
    if 1 <= choice <= len(animal):
        choice -= 1  # Adjust for the 0-based list index
        print(f"You have selected {name[choice]} ({age[choice]}), and the price is ${price[choice]}.")
    else:
        print("Invalid choice. Please select a valid pet number.")
else:
    print("Invalid input. Please enter a number.")

In [1]:
n=int(input('Enter a natural number greater than 1'))
for i in range(2,n+1):
        for j in range(2,i+1):
                if i% j==0:
                    pass
                else:
                    print(i,end=" ")

3 4 5 5 5 6 6 7 7 7 7 7 8 8 8 8 9 9 9 9 9 9 10 10 10 10 10 10